<p>
  <strong>Title:</strong>
  <%= @advertisement.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @advertisement.content %>
</p>

<p>
  <strong>Price:</strong>
  <%= @advertisement.price %>
</p>

<p>
  <strong>Author:</strong>
  <%= @advertisement_author %>
</p>

<% if @current_user %>
  <% if @current_user.role == "admin" && @advertisement.state == 'waiting' %>
    <%= link_to 'Publish', "/advertisements/#{@advertisement.id}/publish" %>
  <% end %>
<% end %>
<br><br>

<%= link_to 'Edit', edit_advertisement_path(@advertisement) %>
<%= render 'comment_form', comment: @comment, advertisement: @advertisement %>

<%= link_to 'Back', advertisements_path %>
