<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @advertisement.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @advertisement.content %>
</p>

<% if @current_user %>
  <% if @current_user.role == "admin" && @advertisement.state == 'waiting' %>
    <%= link_to 'Publish', "/advertisements/#{@advertisement.id}/publish" %>
  <% end %>
<% end %>
<br><br>
<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisements_path %>
