<p>
  <strong>Title:</strong>
  <%= @advertisement.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @advertisement.content %>
</p>

<p>
  <strong>Price:</strong>
  <%= @advertisement.price %>
</p>

<p>
  <strong>Author:</strong>
  <%= @advertisement_author %>
</p>

<% if @current_user %>
  <% if @current_user.role == "admin" && @advertisement.state == 'waiting' %>
    <%= link_to 'Publish', "/advertisements/#{@advertisement.id}/publish" %>
  <% end %>
<% end %>
<br><br>

<%= link_to 'Edit', edit_advertisement_path(@advertisement) %>
<br>

<% if @comments.present?%>
  <h2>Comments</h2>
  <table>
    <thead>
      <tr>
        <th>Author</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <% if comment.advertisement_id == @advertisement.id  %>
          <tr>
            <td><%= comment.user.name %></td>
            <td><%= comment.content %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if session[:user_id] %>
  <%= render 'comment_form', comment: @comment, advertisement: @advertisement %>
<% else %>
  <%= link_to 'Login to post a comment', users_login_path %>
<% end %>
<br>

<%= link_to 'Back', advertisements_path %>
